// Buttons ------------------------------------------------------------------------------------------------------------
.btn {
	border-width: 1px;
	border-style: solid;
	color: $text;
	display: inline-block;
	padding: 8px 10px;
	@include border-radius(20px);

	&:hover { text-decoration: none; }


	&--blue {
		background: $blue;
		border-color: $blue;
		color: $white;
	}
	&--blue:hover { color: $white; }

	&--blue-transparent {
		background: none;
		border-color: $blue;
		color: $blue;
	}
	&--blue-transparent:hover { color: $blue; }

	&--orange {
		background: $orange;
		border-color: $orange;
		color: $white;
	}
	&--orange:hover { color: $white; }
}
// End of Buttons -----------------------------------------------------------------------------------------------------