// Mixins -------------------------------------------------------------------------------------------------------------
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}
@mixin box-shadow($hoff, $voff, $blur, $color) {
	-webkit-box-shadow: $hoff $voff $blur $color;
	-moz-box-shadow:  $hoff $voff $blur $color;
	box-shadow:  $hoff $voff $blur $color;
}
@mixin placeholder($color, $fontSize, $fontWeight, $fontFamily: "") {
	::-webkit-input-placeholder {color: $color; font-size: $fontSize; font-family: #{$fontFamily}; font-weight: $fontWeight;}
	::-moz-placeholder {color: $color; font-size: $fontSize; font-family: #{$fontFamily}; font-weight: $fontWeight;}
	:-ms-input-placeholder {color: $color; font-size: $fontSize; font-family: #{$fontFamily}; font-weight: $fontWeight;}
	:-moz-placeholder {color: $color; font-size: $fontSize; font-family: #{$fontFamily}; font-weight: $fontWeight;}
}
@mixin FontAwesome() {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-weight: 900;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
@mixin transition($prop,$time) {
	-webkit-transition: $prop $time;
	-moz-transition: $prop $time;
	-ms-transition: $prop $time;
	-o-transition: prop $time;
	transition: $prop $time;
}
.clearfix {
	&:after, &:before { content: ''; display: block; clear: both; }
}
// End of Mixins ------------------------------------------------------------------------------------------------------