// Theme variables ----------------------------------------------------------------------------------------------------
// Device's dimensions
$viewport_width_desktop_h: 1200px;
$viewport_width_desktop_l: 1199px;
$viewport_width_tablet_h: 992px;
$viewport_width_tablet_l: 991px;
$viewport_width_mobile_h: 768px;
$viewport_width_mobile_l: 767px;

// Colors
$white: #fff;
$white2: #fafafa;
$blue: #004e62;
$orange: #d17716;

// Text styles
$text: $blue;

// End of Theme variables ---------------------------------------------------------------------------------------------